#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  min-height: 100vh;
  /* background: #1f2937; */
}

.heading {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0;
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.left-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
