.box{
    max-width: 200px;
    max-height: 400px;
    background-color: rgb(83, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;


}

.main_h1{
    color: black;
    font-weight: bold;
}